@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme(colors.white);
    border-radius: theme(borderRadius.lg);
    padding: theme(spacing.6);
    box-shadow: theme(boxShadow.xl);
  }

  .input-base {
    @apply hover:border-sky-300;
    @apply mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1;
  }

  .label-base {
    @apply block text-sm font-medium text-slate-700 my-3;
  }

  .is-required {
    @apply after:content-['*'] after:ml-0.5 after:text-red-500;
  }

  .button-base {
    @apply bg-sky-500 hover:bg-sky-400 hover:cursor-pointer rounded-full text-white text-center w-fit px-3 py-1 m-auto;
  }
}
